node_modules
.git
.github
.cache
.shared-build
.app-build
.api-build
.electron-build
.main-build
.scripts-build
*.log
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
dist/
coverage/
test-results/
playwright-report/
playwright/.cache/
release/
docker-data/
models/
databases/
videos/
app_storage/
public/config.json
public/config.json.bak
*.tsbuildinfo
docs/
e2e/
README.md
INSTALLATION.md
**/README.md
!CHANGELOG.md
