.DS_Store
node_modules
/dist
/.electron-build
/app_storage
/models
/databases
/release
.editorconfig
server.log
/public/config.json
.project
yarn.lock
db.vuerd.json

# local env files
.env
env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
