// @font-face {
//   font-family: "Arimo";
//   src: url(assets/fonts/Arimo/Arimo-Regular.ttf) format("truetype");
// 	font-weight: normal;
// 	font-style: normal;
// }
// @font-face {
//   font-family: "Arimo";
//   src: url(assets/fonts/Arimo/Arimo-Bold.ttf) format("truetype");
// 	font-weight: 700;
// 	font-style: normal;
// }

// @font-face {
//   font-family: "Lato";
//   src: url(assets/fonts/Lato/Lato-Light.ttf) format("truetype");
// 	font-weight: 300;
// 	font-style: normal;
// }
// @font-face {
//   font-family: "Lato";
//   src: url(assets/fonts/Lato/Lato-Regular.ttf) format("truetype");
// 	font-weight: normal;
// 	font-style: normal;
// }
// @font-face {
//   font-family: "Lato";
//   src: url(assets/fonts/Lato/Lato-Bold.ttf) format("truetype");
// 	font-weight: 700;
// 	font-style: normal;
// }

// @font-face {
//   font-family: "Lobster";
//   src: url(assets/fonts/Lobster/Lobster-Regular.ttf) format("truetype");
// 	font-weight: normal;
// 	font-style: normal;
// }

// @font-face {
//   font-family: "Merriweather";
//   src: url(assets/fonts/Merriweather/Merriweather-Light.ttf) format("truetype");
// 	font-weight: 300;
// 	font-style: normal;
// }
// @font-face {
//   font-family: "Merriweather";
//   src: url(assets/fonts/Merriweather/Merriweather-Regular.ttf) format("truetype");
// 	font-weight: normal;
// 	font-style: normal;
// }
// @font-face {
//   font-family: "Merriweather";
//   src: url(assets/fonts/Merriweather/Merriweather-Bold.ttf) format("truetype");
// 	font-weight: 700;
// 	font-style: normal;
// }

// @font-face {
//   font-family: "Montserrat";
//   src: url(assets/fonts/Montserrat/Montserrat-Light.ttf) format("truetype");
// 	font-weight: 300;
// 	font-style: normal;
// }
// @font-face {
//   font-family: "Montserrat";
//   src: url(assets/fonts/Montserrat/Montserrat-Regular.ttf) format("truetype");
// 	font-weight: normal;
// 	font-style: normal;
// }
// @font-face {
//   font-family: "Montserrat";
//   src: url(assets/fonts/Montserrat/Montserrat-Bold.ttf) format("truetype");
// 	font-weight: 700;
// 	font-style: normal;
// }

// @font-face {
//   font-family: "Nunito";
//   src: url(assets/fonts/Nunito/Nunito-Light.ttf) format("truetype");
// 	font-weight: 300;
// 	font-style: normal;
// }
// @font-face {
//   font-family: "Nunito";
//   src: url(assets/fonts/Nunito/Nunito-Regular.ttf) format("truetype");
// 	font-weight: normal;
// 	font-style: normal;
// }
// @font-face {
//   font-family: "Nunito";
//   src: url(assets/fonts/Nunito/Nunito-Bold.ttf) format("truetype");
// 	font-weight: 700;
// 	font-style: normal;
// }

// @font-face {
//   font-family: "OpenSans";
//   src: url(assets/fonts/OpenSans/OpenSans-Light.ttf) format("truetype");
// 	font-weight: 300;
// 	font-style: normal;
// }
// @font-face {
//   font-family: "OpenSans";
//   src: url(assets/fonts/OpenSans/OpenSans-Regular.ttf) format("truetype");
// 	font-weight: normal;
// 	font-style: normal;
// }
// @font-face {
//   font-family: "OpenSans";
//   src: url(assets/fonts/OpenSans/OpenSans-Bold.ttf) format("truetype");
// 	font-weight: bold;
// 	font-style: normal;
// }

// @font-face {
//   font-family: "OpenSansCondensed";
//   src: url(assets/fonts/OpenSansCondensed/OpenSansCondensed-Light.ttf) format("truetype");
// 	font-weight: 300;
// 	font-style: normal;
// }
// @font-face {
//   font-family: "OpenSansCondensed";
//   src: url(assets/fonts/OpenSansCondensed/OpenSansCondensed-Bold.ttf) format("truetype");
// 	font-weight: bold;
// 	font-style: normal;
// }

// @font-face {
//   font-family: "Oswald";
//   src: url(assets/fonts/Oswald/Oswald-Light.ttf) format("truetype");
// 	font-weight: 300;
// 	font-style: normal;
// }
// @font-face {
//   font-family: "Oswald";
//   src: url(assets/fonts/Oswald/Oswald-Regular.ttf) format("truetype");
// 	font-weight: normal;
// 	font-style: normal;
// }
// @font-face {
//   font-family: "Oswald";
//   src: url(assets/fonts/Oswald/Oswald-Bold.ttf) format("truetype");
// 	font-weight: 700;
// 	font-style: normal;
// }

// @font-face {
//   font-family: "PTSans";
//   src: url(assets/fonts/PTSans/PTSans-Regular.ttf) format("truetype");
// 	font-weight: normal;
// 	font-style: normal;
// }
// @font-face {
//   font-family: "PTSans";
//   src: url(assets/fonts/PTSans/PTSans-Bold.ttf) format("truetype");
// 	font-weight: bold;
// 	font-style: normal;
// }

// @font-face {
//   font-family: "Quicksand";
//   src: url(assets/fonts/Quicksand/Quicksand-Light.ttf) format("truetype");
// 	font-weight: 300;
// 	font-style: normal;
// }
// @font-face {
//   font-family: "Quicksand";
//   src: url(assets/fonts/Quicksand/Quicksand-Regular.ttf) format("truetype");
// 	font-weight: normal;
// 	font-style: normal;
// }
// @font-face {
//   font-family: "Quicksand";
//   src: url(assets/fonts/Quicksand/Quicksand-Bold.ttf) format("truetype");
// 	font-weight: 700;
// 	font-style: normal;
// }

// @font-face {
//   font-family: "Raleway";
//   src: url(assets/fonts/Raleway/Raleway-Light.ttf) format("truetype");
// 	font-weight: 300;
// 	font-style: normal;
// }
// @font-face {
//   font-family: "Raleway";
//   src: url(assets/fonts/Raleway/Raleway-Regular.ttf) format("truetype");
// 	font-weight: normal;
// 	font-style: normal;
// }
// @font-face {
//   font-family: "Raleway";
//   src: url(assets/fonts/Raleway/Raleway-Bold.ttf) format("truetype");
// 	font-weight: 700;
// 	font-style: normal;
// }

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "RobotoMono";
  src: url(../fonts/RobotoMono/RobotoMono-Regular.ttf) format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: "RobotoMono";
  src: url(../fonts/RobotoMono/RobotoMono-Bold.ttf) format("truetype");
	font-weight: 700;
	font-style: normal;
}

// @font-face {
//   font-family: "RobotoCondensed";
//   src: url(assets/fonts/RobotoCondensed/RobotoCondensed-Light.ttf) format("truetype");
// 	font-weight: 300;
// 	font-style: normal;
// }
// @font-face {
//   font-family: "RobotoCondensed";
//   src: url(assets/fonts/RobotoCondensed/RobotoCondensed-Regular.ttf) format("truetype");
// 	font-weight: normal;
// 	font-style: normal;
// }
// @font-face {
//   font-family: "RobotoCondensed";
//   src: url(assets/fonts/RobotoCondensed/RobotoCondensed-Bold.ttf) format("truetype");
// 	font-weight: 700;
// 	font-style: normal;
// }

// @font-face {
//   font-family: "Ubuntu";
//   src: url(assets/fonts/Ubuntu/Ubuntu-Light.ttf) format("truetype");
// 	font-weight: 300;
// 	font-style: normal;
// }
// @font-face {
//   font-family: "Ubuntu";
//   src: url(assets/fonts/Ubuntu/Ubuntu-Regular.ttf) format("truetype");
// 	font-weight: normal;
// 	font-style: normal;
// }
// @font-face {
//   font-family: "Ubuntu";
//   src: url(assets/fonts/Ubuntu/Ubuntu-Bold.ttf) format("truetype");
// 	font-weight: 700;
// 	font-style: normal;
// }
// FONTS
$headings: ".display-4,.display-3,.display-2,.display-1,.headline,.title,.subtitle-1,.subtitle-2,";
#app {
  .body-1,
  .body-2,
  .caption,
  .overline {
    font-family: inherit !important;
  }
  // &.text-font-arimo {
  //   font-family: "Arimo", sans-serif !important;
  // }
  // &.header-font-arimo {
  //   #{$headings} {
  //     font-family: "Arimo", sans-serif !important;
  //   }
  // }
  // &.text-font-lato {
  //   font-family: "Lato", sans-serif !important;
  // }
  // &.header-font-lato {
  //   #{$headings} {
  //     font-family: "Lato", sans-serif !important;
  //   }
  // }
  // &.text-font-lobster {
  //   font-family: "Lobster", sans-serif !important;
  // }
  // &.header-font-lobster {
  //   #{$headings} {
  //     font-family: "Lobster", sans-serif !important;
  //   }
  // }
  // &.text-font-merriweather {
  //   font-family: "Merriweather", sans-serif !important;
  // }
  // &.header-font-merriweather {
  //   #{$headings} {
  //     font-family: "Merriweather", sans-serif !important;
  //   }
  // }
  // &.text-font-montserrat {
  //   font-family: "Montserrat", sans-serif !important;
  // }
  // &.header-font-montserrat {
  //   #{$headings} {
  //     font-family: "Montserrat", sans-serif !important;
  //   }
  // }
  // &.text-font-nunito {
  //   font-family: "Nunito", sans-serif !important;
  // }
  // &.header-font-nunito {
  //   #{$headings} {
  //     font-family: "Nunito", sans-serif !important;
  //   }
  // }
  // &.text-font-opensans {
  //   font-family: "OpenSans", sans-serif !important;
  // }
  // &.header-font-opensans {
  //   #{$headings} {
  //     font-family: "OpenSans", sans-serif !important;
  //   }
  // }
  // &.text-font-opensanscondensed {
  //   font-family: "OpenSansCondensed", sans-serif !important;
  // }
  // &.header-font-opensanscondensed {
  //   #{$headings} {
  //     font-family: "OpenSansCondensed", sans-serif !important;
  //   }
  // }
  // &.text-font-oswald {
  //   font-family: "Oswald", sans-serif !important;
  // }
  // &.header-font-oswald {
  //   #{$headings} {
  //     font-family: "Oswald", sans-serif !important;
  //   }
  // }
  // &.text-font-ptsans {
  //   font-family: "PTSans", sans-serif !important;
  // }
  // &.header-font-ptsans {
  //   #{$headings} {
  //     font-family: "PTSans", sans-serif !important;
  //   }
  // }
  // &.text-font-quicksand {
  //   font-family: "Quicksand", sans-serif !important;
  // }
  // &.header-font-quicksand {
  //   #{$headings} {
  //     font-family: "Quicksand", sans-serif !important;
  //   }
  // }
  // &.text-font-raleway {
  //   font-family: "Raleway", sans-serif !important;
  // }
  // &.header-font-raleway {
  //   #{$headings} {
  //     font-family: "Raleway", sans-serif !important;
  //   }
  // }
  // &.text-font-robotocondensed {
  //   font-family: "RobotoCondensed", sans-serif !important;
  // }
  // &.header-font-robotocondensed {
  //   #{$headings} {
  //     font-family: "RobotoCondensed", sans-serif !important;
  //   }
  // }
  // &.text-font-ubuntu {
  //   font-family: "Ubuntu", sans-serif !important;
  // }
  // &.header-font-ubuntu {
  //   #{$headings} {
  //     font-family: "Ubuntu", sans-serif !important;
  //   }
  // }
}

.v-application {
  &--wrap {
    backface-visibility: unset !important;
  }
}